.header {
  text-align: center;
  margin: 100px 0 50px;
  font-size: 3rem;
}

.col {
  margin-bottom: 25px;
}

.cardImg {
  width: 56px;
  height: 59px;
  margin: 10px;
}

.card {
  width: "18rem";
  padding: 10px 10px 0px 10px;
  max-height: 360px;
  max-width: 400px;
  min-height: 360px;
  min-width: 400px;
  background-color: rgba(17, 100, 175, 0.9);
  background-size: cover;
  color: aliceblue;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  background-color: rgba(5, 64, 116, 0.9);
}
