.header {
  text-align: center;
  margin: 100px 0 50px;
  font-size: 3rem;
}

.col {
  margin-bottom: 25px;
}

.cardImg {
  width: 56px;
  height: 59px;
  margin: 10px;
}

.radiatir {
  width: "18rem";
  padding: 10px 10px 0px 10px;
  min-height: 328px;
  min-width: 337px;
  background-color: rgba(17, 100, 175, 0.9);
  background-size: cover;
  color: aliceblue;
}

.radiatir:hover {
  background-color: rgba(5, 64, 116, 0.9);
}
