.wrapper {
  margin-top: 100px;
  overflow: y;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mainImg {
  width: 150%;
}

.card {
  width: "25rem";
  padding: 20px;
  max-height: 600px;
  max-width: 550px;

  position: absolute;
  z-index: 2;
  top: 230px;
  left: 50px;
}

.cardText1 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(248, 4, 4);
}

.cardText2 {
  font-size: 26px;
  font-weight: bold;
}

.cardText {
  font-size: 18px;
}

.miniImgWrapper {
  position: absolute;
  z-index: 200;
  top: 650px;
  left: 650px;
  width: 750px;
  display: flex;
  justify-content: space-between;
}

.imgBlockWrapper {
  display: flex;
  flex-direction: row;
}

.cardImg {
  width: 56px;
  height: 59px;
  margin: 10px;
}
