.navBar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  background-color: blue;
}

.navBar:first-child {
  justify-self: start;
}

.navItem {
  color: white;
}

.navText {
  color: white;
  font-weight: bold;
  font-size: 18px;
}